<br>
  <div class="container">
    <h1>Bienvenido al mapa del Sotano 2 del parqueadero</h1>
  </div>
  <br>
  <canvas id="canvas" height="790" width="1700" style="border:1px solid #000000; "></canvas>
	<button id="square" class="btn btn-success btn-lg">Crear cuadrado</button>
  <br>
  <button id="circle" class="btn btn-info btn-lg" style="position: relative; bottom:760px; ">Crear circulo</button>
  <br>
  <button id="guardar" class="btn btn-primary btn-lg" (click)="descargar()">Guardar Plano</button>
  <br>
  <button class="btn btn-danger btn-lg" (click)="clear()">Borrar Items</button>

